  .card-body{
    text-align: start;
    padding:10px;
  }

.font-family{
   display: inline-flex; 
}

.font-style{
  margin:5px;
  display:flex; 
  /* justify-content: space-around ; */
  

}

.box-color {
  margin:5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
}

  button{
    width:100em;
    height:30px;
  }
