
.card-body{
}

.font-family{
   display: inline-flex; 
}

.font-size{
}

.font-style{
  margin:10px;
  display:flex; 
}



.box-color {
  margin:5px;
  display: flex;
  flex-direction: row;
    /* border-radius: 3px; */
    justify-content: space-evenly ;
  }

  button{
    width:100px;
    height:30px;
  }
  