.size-picker {
    display: flex; 
     /* justify-content: space-around;  */
     margin: 10px;
     font-size: 10px;
     height: 60px;

  }  
  
  
.btn-tall{
  height: 60px;
    width : 30px; 
    margin-right: 10px;

}
    
.btn-square{
  height: 60px;
      width : 50px; 
      margin-right: 10px;

}
    
.btn-wide{
  height: 60px;
      width: 80px;
}



 /* .flex-container {
  display: flex; 
   justify-content: space-around; 
}  */

/* 
.size-box-tall {
  width: 5px; 
  height: 50px;
  text-align: center;
}

.size-box-square {
  width: 10px;
  height: 15px;
  text-align: center;
}

.size-box-wide {
  width: 20px;
  height: 15px;
  text-align: center;
} */
